/* Base Styles */
.profile {
  display: flex;
}

.profileContainer {
  background: #f6f5f7;
  flex: 6;
  padding: 10px;
}

.userAddButton {
  height: 30px;
  width: 80px;
  padding: 8px 16px;
  border: none;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
  float: right;
}

.DisplayInfo {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.file
.UserContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.centerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.userUpdate {
  flex: 2;
  padding: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userShowImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.userUpdateTitle {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  display: block;
}

.txt {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #6C737F;
  display: block;
}

.txtfield {
  margin: 10px;
}

.FormInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-width {
  width: 100%; /* Adjust the width as needed */
}

.colTitle {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.box {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 90px;
  background: #fff;
  border: 2px solid #b8b9bd;
  box-shadow: 0px 0px 15px -10px rgba(100, 98, 98, 0.75);
  padding: 30px; /* Reduce padding for a smaller box */
  flex-direction: column; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
  border-radius: 10px; /* Add border radius */
  
}

.textBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 100%; 
}

.txtfield{
  margin: 10px 10px;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 0 0 calc(50% - 30px);
  align-items: center;
  display: flex;
  width: 100%; /* Make text fields full width */
  display: inline-flex; /* Display text fields in a single row */
  width: calc(50% - 80px); /* Set width to 50% minus margins */
}

.txtfield-container {
  display: flex;
  flex-direction: column; /* Center text fields vertically */
  align-items: center; /* Center text fields horizontally */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap; /* Allow text fields to wrap to the next line */
  justify-content: space-between; /* Add space between text fields */
}

.modalBtn {
  align-items: center;
  margin-top: 10px; /* Add margin to separate from text fields */
  margin-left: 20px;
  width: 20%;
  transition: background-color 0.3s ease;
}
.modalBtn:hover {
  background-color: #96a197; /* Change the background color when hovered */
  color: #0e0ecf; /* Change the text color for better visibility */
}



/* Media Queries */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .profileContainer {
    flex: 1;
  }

  .userShow,
  .userUpdate {
    flex: 1;
    margin-left: 0;
  }
}
