.profile
{
    display: flex;
    .profileContainer{
        background: #f6f5f7;
        flex: 6;
     .contaner{
        height: 100%;
        width: 100%;
        margin:  0 auto;
        .col{
            float: left;
        }
     }   
        
    }
    
}