.widget{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow:2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    height: 150px;

    .left,.right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            .title{
                font-weight: bold;
                font-size: 14px;
                color: gray;
            }
            .counter{
                font-size: 28px;
                font-weight: 300;
            }
            .link{
                width: max-content;
                font-size: 15px;
                border-bottom: 1px solid black;
                cursor: pointer;
            }
            .link1{
                width: max-content;
                font-size: 15px;
                border-bottom: 1px solid black;
                cursor: pointer;
            }
            .link2{
              width: max-content;
              font-size: 15px;
              border-bottom: 1px solid black;
              cursor: pointer;
          }
            .percentage{
                display: flex;
                align-items: center;
                font-size: 20px;
            }
            .icon{
                font-size: 40px;
                align-self: flex-end;
            }
    }

    
}

/* Adjust the .listContainer to match the table width */
.listContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%; /* Set the width to 100% to match the table */
    margin: 0;
    padding: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  }
