.announce
{
    display: flex;
    .announceContainer{
        flex: 6;
        text-align: center;
        
    }
    .announcementForm {
        border: 1px solid #bbb5b5; /* Black border */
        padding: 20px; /* Adjust padding as needed */
        margin: 0 auto; /* Center the container */
        width: 70%; /* Adjust the width as needed */
        border-radius: 10px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
      }
    .txtWidth{
        padding: 10px; 
        margin: 15px 12px; 
        width: 70%;
        height: 50%;
    }

    .form-group .MuiButton-root:hover {
        color: #6373cf;
      }
  }
